h2{
    color: darkorange;
}
/* 1. Rounded Corners
    The CSS "border-radius" property defines the radius of an element's corners.
*/
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  #rcorners3 {
    border-radius: 25px;
    background: url(images/Screenshot\ \(15\).png);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
.borderRadius{
    width: 200px;
    height: 100px;
    background: dodgerblue;
    border-radius: 25px;
}

/* 2.Border Image
    The CSS border-image property allows you to specify an image to be used 
    instead of the normal border around an element.
*/
#borderImg{
    border: 10px solid transparent;
    padding: 50px;
    border-image: url(images/Screenshot\ \(17\).png) 30% round;
}

/* 3. Gradients 
    CSS gradients let you display smooth transitions between two or more specified colors.
    CSS defines three types of gradients:
        Linear Gradients (goes down/up/left/right/diagonally)
        Radial Gradients (defined by their center)
        Conic Gradients (rotated around a center point)
*/
.gradient1{
    height: 200px;
    /* background-color: red; */
    background-image: linear-gradient(yellow, orange);
}
.gradint2{
    height: 200px;
    /* background-color: red; */
    background-image: linear-gradient(to right, dodgerblue, green);
}
.gradint3{
    height: 200px;
    background-image: linear-gradient(to bottom right, pink, blue);
}
.gradint4{
    height: 200px;
    background-image: linear-gradient(red, yellow, green);
}

/* 4.Shadows 
    The CSS text-shadow property applies shadow to text.
    The CSS box-shadow property is used to apply one or more shadows to an element.
*/
#textShadow{
    text-shadow: 2px 2px 5px rgb(0, 102, 255);
}
.boxShadow{
    height: 100px;
    background: yellowgreen;
    box-shadow: 7px 7px green;
}

/* 5.Transition 
    CSS transitions allows you to change property values smoothly, over a given duration.
        transition
        transition-delay
        transition-duration
        transition-property
        transition-timing-function
*/
.transition{
    width: 100px;
    height: 100px;
    background: dodgerblue;
    transition: width 2s;
}
.transition:hover{
    width: 300px;
}

/* 6.Animation 
    CSS allows animation of HTML elements without using JavaScript or Flash!
        @keyframes
        animation-name
        animation-duration
        animation-delay
        animation-iteration-count
        animation-direction
        animation-timing-function
        animation-fill-mode
        animation
*/
.animation{
    width: 100px;
    height: 100px;
    background: red;
    animation-name: first;
    animation-duration: 10s;
}
@keyframes first{
    from {background: green;}
    to {background: dodgerblue;}
}
.animation2{
    width: 100px;
    height: 100px;
    background: red;
    animation-duration: 10s;
    animation-name: second;
}
@keyframes second{
    from {background: black;}
    to {background: yellow;}
}

/* 7.Tooltips 
    A tooltip is often used to specify extra information about something 
    when the user moves the mouse pointer over an element:
*/
.tooltip1{
    font-size: larger;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid black;
}
.tooltip1 .tooltipText1{
    visibility: hidden;
    width: 120px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.tooltip1:hover .tooltipText1{
    visibility: visible;
}

/* 8.button 
    Learn how to style buttons using CSS.
*/
.button{
    background: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background: green;
}

/* 9.Pagination 
    If you have a website with lots of pages, you may wish 
    to add some sort of pagination to each page:
*/
.pagination{
    display: inline-block;
}
.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover{
    color: red;
    font-size: xx-large;
}